In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [4]:
bank=pd.read_csv('credit_data.csv')
bank.head()

   clientid        income        age         loan       LTI  default
0         1  66155.925095  59.017015  8106.532131  0.122537        0
1         2  34415.153966  48.117153  6564.745018  0.190752        0
2         3  57317.170063  63.108049  8020.953296  0.139940        0
3         4  42709.534201  45.751972  6103.642260  0.142911        0
4         5  66952.688845  18.584336  8770.099235  0.130989        1

In [5]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   clientid  2000 non-null   int64
 1   income    2000 non-null   float64
 2   age       2000 non-null   float64
 3   loan      2000 non-null   float64
 4   LTI       2000 non-null   float64
 5   default   2000 non-null   int64
dtypes: float64(4), int64(2)
memory usage: 93.9 KB

In [6]:
bank.describe()

,clientid,income,age,loan,LTI,default
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1000.500000,45331.600018,40.927143,4444.369695,0.098403,0.141500
std,577.494589,14326.327119,13.262450,3045.410024,0.057620,0.348624
min,1.000000,20014.489470,18.055189,1.377630,0.000049,0.000000
25%,500.750000,32796.459717,29.062492,1939.708847,0.047903,0.000000
50%,1000.500000,45789.117313,41.382673,3974.719419,0.099437,0.000000
75%,1500.250000,57791.281668,52.596993,6432.410625,0.147585,0.000000
max,2000.000000,69995.685578,63.971796,13766.051239,0.199938,1.000000

In [8]:
x=bank[['income','age','loan']]
x.head()

         income        age         loan
0  66155.925095  59.017015  8106.532131
1  34415.153966  48.117153  6564.745018
2  57317.170063  63.108049  8020.953296
3  42709.534201  45.751972  6103.642260
4  66952.688845  18.584336  8770.099235

In [46]:
y=bank['default']
y.shape

(2000,)

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y=train_test_split(x,y, test_size=0.33, random_state=10)

In [66]:
train_x.shape, test_x.shape, train_y.shape, test_y.shape

((1340, 3), (660, 3), (1340,), (660,))

In [81]:
model=LogisticRegression()
model=model.fit(train_x, train_y)

In [82]:
y_prop=model.predict(test_x)

In [83]:
test_y.shape,y_prop.shape

((660,), (660,))

In [84]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(test_y,y_prop)
cm

array([[551,  15],
       [ 38,  56]], dtype=int64)

In [85]:
from sklearn.metrics import accuracy_score
sa=accuracy_score(test_y,y_prop)
sa

0.9196969696969697

In [87]:
from sklearn.model_selection import cross_val_predict

predicted = cross_val_predict(model,x,y, cv=10)

print(accuracy_score(y,predicted))

0.9195

In [89]:
from sklearn import model_selection  

predicted = model_selection.cross_val_predict(model,x,y, cv=10)

print(accuracy_score(y,predicted))

0.9195