In [1]:
import  numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import statsmodels.api as sm

In [3]:
data=pd.read_csv('logit_train1.csv')

In [4]:
data.head()

   Unnamed: 0  gmat  gpa  work_experience  admitted
0          16   580  2.7                4         0
1          33   660  3.3                6         1
2           8   740  3.3                5         1
3          38   590  1.7                4         0
4          32   660  4.0                4         1

In [8]:
x=data[['gmat','gpa','work_experience']]

In [9]:
y=data['admitted']

In [10]:
model=sm.Logit(y,x)

In [11]:
 model.fit()

Optimization terminated successfully.
         Current function value: 0.352707
         Iterations 8

In [18]:
x.shape

(30, 3)

In [37]:
df = pd.read_csv('logit_test1.csv',index_col=0)

In [38]:
df

    gmat  gpa  work_experience  admitted
35   650  2.3                1         0
36   670  2.7                2         0
30   640  3.0                1         0
10   610  2.7                3         0
21   600  2.0                1         0
7    720  3.3                4         1
14   770  3.3                3         1
15   610  3.0                1         0
34   680  3.3                5         1
12   710  3.7                6         1

In [45]:
Xtest = df[['gmat', 'gpa', 'work_experience']]
ytest = df['admitted']
  
# performing predictions on the test datdaset
yhat = model.Predict(Xtest)
prediction = list(map(round, yhat))

AttributeError: 'Logit' object has no attribute 'Predict'